@use "../variables";
@use "../mixins/mixins" as m;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  background-color: variables.$main-background;
  color: variables.$main-font-color;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: variables.$main-font-color;
}

.link:hover {
  color: variables.$second-background;
}

.link--footer:link,
.link--footer:visited {
  text-decoration: none;
  color: variables.$second-font-color;
}

.link--footer:hover {
  color: variables.$main-font-color;
}

.main-container {

  &__section {

    &--with-image {
      @include m.margin-left-right(10%, 10%);
    }

    &__text {
      @include m.responsive('phone') {
        line-height: 1.8em;
        @include m.margin-top-bottom(1.5em, 1.5em);
      }

      @include m.responsive('tablet') {
        font-size: larger;
        @include m.margin-top-bottom(2em, 2em);
      }

      @include m.responsive('desktop') {
        line-height: 1.8em;
        font-size: 1.6em;
        @include m.margin-top-bottom(3em, 3em);
      }

      &--margins {
        @include m.margin-left-right(10%, 10%);
      }
    }

    &__second-title {
      @include m.responsive('phone') {
        padding: 1em;
      }

      @include m.responsive('tablet') {
        padding: 1.2em;
      }

      @include m.responsive('desktop') {
        padding: 2em;
        font-size: 2em;
      }
    }

    &__second-title-container {
      background-color: variables.$second-background;
      color: variables.$second-font-color;
      padding-left: 10%;
      margin-right: 10%;
      border-radius: 0 10% 10% 0 / 0 50% 50% 0;

      @include m.responsive('desktop') {
        border-radius: 0 5% 5% 0 / 0 50% 50% 0;
      }
    }

    &__icon {
      font-size: 0.8em;
    }

  }

}

.site-header {

  &--colors {
    @include m.center-object;
    background-color: variables.$second-background;
    color: variables.$second-font-color;
  }

  &__title {
    @include m.responsive('phone') {
      padding: 2em;
      line-height: 1em;
      margin: 0;
      text-align: center;
    }

    @include m.responsive('tablet') {
      padding: 1.5em;
      line-height: 2em;
      text-align: center;
      font-size: 3em;
    }

    @include m.responsive('desktop') {
      font-size: 4em;
      padding: 2em;
    }

  }

}

.locations {

  display: block;
  @include m.margin-left-right(10%, 10%);

  @include m.responsive('desktop') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__section {

    @include m.padding-top-bottom(1em, 1em);

    @include m.responsive('tablet') {
      display: flex;
      justify-content: space-around;
      flex: 1;
    }

    @include m.responsive('desktop') {
      display: block;
    }

    &--normal {
      @include m.responsive('tablet') {
        flex-flow: row wrap;
      }
    }

    &--reverse {
      @include m.responsive('tablet') {
        flex-flow: row-reverse wrap;
      }

    }

    &__icon {
      font-size: 1em;
    }

    &__content {
      @include m.responsive('phone') {
        text-align: center;
      }

      @include m.responsive('tablet') {
        @include m.margin-left-right(0, 1em);
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: fit-content;
      }

      @include m.responsive('desktop') {
        @include m.margin-left-right(0, 0);
        display: block;
        text-align: center;
      }

      &--reverse {
        @include m.responsive('tablet') {
          @include m.margin-left-right(1em, 0);
        }

        @include m.responsive('desktop') {
          @include m.margin-left-right(1em, 1em);
        }
      }
    }

    &__title {
      background-color: variables.$second-background;
      color: variables.$second-font-color;
      width: fit-content;
      @include m.padding-top-bottom(1em, 1em);

      @include m.responsive('phone') {
        border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
        @include m.padding-left-right(1.5em, 1.5em);
        display: inline-block;
      }

      @include m.responsive('tablet') {
        border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
        @include m.padding-left-right(1em, 1em);
      }

      @include m.responsive('desktop') {
        border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
      }
    }

    &__text {
      text-align: left;

      @include m.responsive('phone') {
        @include m.margin-top-bottom(1em, 2em);
      }

      @include m.responsive('tablet') {
        @include m.margin-left-right(1em, 1em);
        @include m.margin-top-bottom(0em, 2em);
        position: absolute;
        top: 50%;
        font-size: larger;
        line-height: 1.5em;
      }

      @include m.responsive('desktop') {
        @include m.margin-top-bottom(1em, 2em);
        @include m.margin-left-right(1em, 1em);
        font-size: 1.6em;
        position: relative;
      }
    }
  }
}

.photo-picture {

  &--hero {
    @include m.center-object;
    text-align: left;
    flex: 1;
    flex-direction: column;
  }

  &__photo {
    margin-bottom: 1em;
    border-radius: 10%;
    object-fit: cover;

    @include m.responsive('phone') {
      width: 80%;
    }

    @include m.responsive('tablet') {
      width: 70%;
    }

    @include m.responsive('desktop') {
      width: 60%;
    }

    &--places-resize {
      @include m.responsive('tablet') {
        width: 90%;
      }
    }
  }

  &__caption {
    @include m.margin-top-bottom(0, 0);
    text-align: center;

    @include m.responsive('phone') {
      font-size: 0.8em;
    }

    @include m.responsive('tablet') {
      font-size: 1em;
    }

    @include m.responsive('desktop') {
      font-size: 1.2em;
    }
  }
}

.site-footer {

  background-color: variables.$second-background;
  color: variables.$second-font-color;
  @include m.center-object;
  @include m.padding-left-right(10%, 10%);

  @include m.responsive('phone') {
    @include m.margin-top-bottom(3em, 0);
    @include m.padding-top-bottom(1em, 1em);
    display: block;
    text-align: center;
  }

  @include m.responsive('tablet') {
    @include m.margin-top-bottom(2em, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include m.responsive('desktop') {
    @include m.margin-top-bottom(3em, 0);
    @include m.padding-left-right(25%, 25%);
  }

  &__text {

    @include m.responsive('tablet') {
      font-size: larger;
    }

    @include m.responsive('desktop') {
      line-height: 1.8em;
      font-size: 1.6em;
    }
  }
}