@use "../variables";
@use "../mixins/mixins" as m;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  background-color: variables.$main-container;
  color: variables.$font-color-main;
}

.main-container {
  &__visit-moscow {
    @include m.center-object;
    background-color: variables.$info-container;
    color: whitesmoke;

    &__header-elem {
      @include m.responsive('phone') {
        padding: 2em;
        line-height: 1em;
        margin: 0;
        text-align: center;
      }

      @include m.responsive('tablet') {
        padding: 1.5em;
        line-height: 2em;
        text-align: center;
        font-size: 3em;
      }

      @include m.responsive('desktop') {
        font-size: 4em;
        padding: 2em;
      }
    }
  }

  &__second-title-container {
    background-color: variables.$info-container;
    color: whitesmoke;
    margin-right: 10%;
    padding-left: 10%;
    border-radius: 0 10% 10% 0 / 0 50% 50% 0;

    @include m.responsive('desktop') {
      border-radius: 0 5% 5% 0 / 0 50% 50% 0;
    }

    &__second-title {
      @include m.responsive('phone') {
        padding: 1em;
      }

      @include m.responsive('tablet') {
        padding: 1.2em;
      }

      @include m.responsive('desktop') {
        padding: 2em;
        font-size: 2em;
      }
    }
  }

  &__why-visit-moscow {
    margin-left: 10%;
    margin-right: 10%;

    @include m.responsive('phone') {
      line-height: 1.8em;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    @include m.responsive('tablet') {
      font-size: larger;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    @include m.responsive('desktop') {
      line-height: 1.8em;
      margin-top: 3em;
      margin-bottom: 3em;
      font-size: 1.8em;
    }
  }

}

.main-photo-picture {
  @include m.center-object;
  text-align: left;
  flex-direction: column;

  &__main-photo {
    height: auto;
    margin-bottom: 2em;
    border-radius: 5%;

    @include m.responsive('phone') {
      width: 80%;
    }

    @include m.responsive('tablet') {
      width: 70%;
    }

    @include m.responsive('desktop') {
      width: 60%;
    }
  }

  &__main-caption {
    margin-top: 0;

    @include m.responsive('phone') {
      font-size: 0.8em;
    }

    @include m.responsive('tablet') {
      font-size: 1em;
    }

    @include m.responsive('desktop') {
      font-size: 1.2em;
    }
  }
}