@use "../variables";
@use "../mixins/mixins" as m;

.link:link,
.link:visited {
  text-decoration: none;
  color: variables.$font-color-main;
}

.link:hover {
  color: variables.$info-container;
}

.link--footer:link,
.link--footer:visited {
  text-decoration: none;
  color: whitesmoke;
}

.link--footer:hover {
  color: variables.$font-color-main;
}