@use "../variables";
@use "../mixins/mixins" as m;

.photo-picture {

  &--hero {
    @include m.center-object;
    text-align: left;
    flex: 1;
    flex-direction: column;
  }

  &__photo {
    margin-bottom: 1em;
    border-radius: 10%;
    object-fit: cover;

    @include m.responsive('phone') {
      width: 80%;
    }

    @include m.responsive('tablet') {
      width: 70%;
    }

    @include m.responsive('desktop') {
      width: 60%;
    }
    
    &--places-resize {
      @include m.responsive('tablet') {
        width: 90%;
      }
    }
  }

  &__caption {
    @include m.margin-top-bottom(0, 0);
    text-align: center;

    @include m.responsive('phone') {
      font-size: 0.8em;
    }

    @include m.responsive('tablet') {
      font-size: 1em;
    }

    @include m.responsive('desktop') {
      font-size: 1.2em;
    }
  }
}