@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$mqMinWidth: 420px;

// seguramente mucho de lo de arriba se borre

$main-container: beige;
$info-container: #ff2800;
$font-color-main: #3b3131;

$phone-size-max: 480px;
$small-tablet-size-max: 768px;
$big-tablet-size-max: 1440px;
$desktop-size-max: 1920px;

$breakpoints: (
  'phone': $phone-size-max,
  'small-tablet': $small-tablet-size-max,
  'big-tablet': $big-tablet-size-max,
  'desktop': $desktop-size-max
);